In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import numpy as np
import pandas as pd

In [3]:
s = pd.Series(np.random.rand(5))
print(s)
print(type(s))

0    0.766866
1    0.380289
2    0.114871
3    0.624630
4    0.655111
dtype: float64
<class 'pandas.core.series.Series'>

In [4]:
print(s.index,type(s.index))
print(s.values,type(s.values))
# .index查看series索引，类型为rangeindex
# .values查看series值，类型是ndarray

RangeIndex(start=0, stop=5, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
[0.76686608 0.38028881 0.1148712  0.62463006 0.65511084] <class 'numpy.ndarray'>

In [5]:
#创建series：利用字典，对应的key和values值
dic = {'a':1 ,'b':2 , 'c':3, '4':4, '5':5}
s = pd.Series(dic)
print(s)

a    1
b    2
c    3
4    4
5    5
dtype: int64

In [6]:
dic = {'a':1 ,'b':'hello' , 'c':3, '4':4, '5':5}
s = pd.Series(dic)
print(s)

a        1
b    hello
c        3
4        4
5        5
dtype: object

In [7]:
#创建2，利用一维数组
arr = np.random.randn(5)
s = pd.Series(arr)
print(arr)
print(s)

[ 0.43016597 -0.54036384  0.2278534  -1.17733393 -0.20947726]
0    0.430166
1   -0.540364
2    0.227853
3   -1.177334
4   -0.209477
dtype: float64

In [8]:
s = pd.Series(arr, index = ['a','b','c','d','e'],dtype = np.object)
print(s)

a    0.430166
b   -0.540364
c    0.227853
d    -1.17733
e   -0.209477
dtype: object

In [9]:
#创建3，标量创建:# 如果data是标量值，则必须提供索引。该值会重复，来匹配索引的长度
s = pd.Series(10,index=range(4))
print(s)

0    10
1    10
2    10
3    10
dtype: int64

In [11]:
s1 = pd.Series(np.random.randn(5))
print(s1)

s2 = pd.Series(np.random.randn(5),name = 'test')
print(s2)
print(s1.name, s2.name,type(s2.name))

0    0.143807
1    0.454475
2    0.710285
3    0.730484
4    0.372489
dtype: float64
0   -0.774712
1   -0.897884
2   -1.157311
3   -2.533533
4   -0.250620
Name: test, dtype: float64
None test <class 'str'>

In [14]:
s3 = s2.rename('hehehe')
print(s3)
print(s3.name, s2.name)

0    0.143807
1    0.454475
2    0.710285
3    0.730484
4    0.372489
Name: hehehe, dtype: float64
hehehe test

In [17]:
#Series索引
s = pd.Series(np.random.rand(5))
print(s)
print(s[0],type(s[0]),s[0].dtype)
print(float(s[0]),type(float(s[0])))

0    0.844851
1    0.675604
2    0.699350
3    0.165731
4    0.805944
dtype: float64
0.84485068703191 <class 'numpy.float64'> float64
0.84485068703191 <class 'float'>

In [18]:
#标签索引
s = pd.Series(np.random.rand(5), index = ['a','b','c','d','e'])
print(s)
print(s['a'],type(s['a']),s['a'].dtype)

a    0.933652
b    0.803971
c    0.821779
d    0.563484
e    0.851063
dtype: float64
0.9336524101339587 <class 'numpy.float64'> float64

In [19]:
sci = s[['a','b','e']]
print(sci,type(sci))

a    0.933652
b    0.803971
e    0.851063
dtype: float64 <class 'pandas.core.series.Series'>

In [20]:
s1 = pd.Series(np.random.rand(5))
s2 = pd.Series(np.random.rand(5),index= ['a','b','c','d','e'])
print(s1[1:4],s1[4])
print(s2['a':'c'],s2['c'])
print(s2[0:3],s2[3])

1    0.933653
2    0.440500
3    0.380244
dtype: float64 0.8527975825431701
a    0.178482
b    0.313748
c    0.250754
dtype: float64 0.25075378586516417
a    0.178482
b    0.313748
c    0.250754
dtype: float64 0.21110287237185454

In [21]:
print(s2[:-1])#到倒数第二个
print(s2[::2])#到第三个

a    0.178482
b    0.313748
c    0.250754
d    0.211103
dtype: float64
a    0.178482
c    0.250754
e    0.235571
dtype: float64

In [22]:
s = pd.Series(np.random.rand(3)*100)
s[4] = None  # 添加一个空值
print(s)
bs1 = s > 50
bs2 = s.isnull()#判断是否有空值
bs3 = s.notnull()
print(bs1, type(bs1), bs1.dtype)
print(bs2, type(bs2), bs2.dtype)
print(bs3, type(bs3), bs3.dtype)
print(s[s > 50])
print(s[bs3])

0    36.8982
1    37.8801
2    11.5226
4       None
dtype: object
0    False
1    False
2    False
4    False
dtype: bool <class 'pandas.core.series.Series'> bool
0    False
1    False
2    False
4     True
dtype: bool <class 'pandas.core.series.Series'> bool
0     True
1     True
2     True
4    False
dtype: bool <class 'pandas.core.series.Series'> bool
Series([], dtype: object)
0    36.8982
1    37.8801
2    11.5226
dtype: object

In [23]:
s = pd.Series(np.random.rand(50))
print(s.head(10))
print(s.tail())

0    0.742339
1    0.609491
2    0.465757
3    0.174327
4    0.726403
5    0.748093
6    0.783951
7    0.918702
8    0.034345
9    0.428463
dtype: float64
45    0.732239
46    0.928896
47    0.562366
48    0.355825
49    0.650961
dtype: float64

In [24]:
s = pd.Series(np.random.rand(3), index = ['a','b','c'])
print(s)
s1 = s.reindex(['c','b','a','d'])# 这里'd'索引不存在，所以值为NaN
print(s1)

a    0.602609
b    0.503973
c    0.760447
dtype: float64
c    0.760447
b    0.503973
a    0.602609
d         NaN
dtype: float64

In [25]:
s2 = s.reindex(['c','b','a','d'], fill_value = 0)# fill_value参数：填充缺失值的值
print(s2)

c    0.760447
b    0.503973
a    0.602609
d    0.000000
dtype: float64

In [26]:
s1 = pd.Series(np.random.rand(3), index = ['Jack','Marry','Tom'])
s2 = pd.Series(np.random.rand(3), index = ['Wang','Jack','Marry'])
print(s1)
print(s2)
print(s1+s2)

Jack     0.674614
Marry    0.822737
Tom      0.410339
dtype: float64
Wang     0.869359
Jack     0.856027
Marry    0.365907
dtype: float64
Jack     1.530641
Marry    1.188644
Tom           NaN
Wang          NaN
dtype: float64

In [27]:
#删除
s = pd.Series(np.random.rand(5), index = list('ngjur'))
print(s)
s1 = s.drop('n')
s2 = s.drop(['g','j'])
print(s1)
print(s2)
print(s)

n    0.317909
g    0.728615
j    0.322262
u    0.727037
r    0.493027
dtype: float64
g    0.728615
j    0.322262
u    0.727037
r    0.493027
dtype: float64
n    0.317909
u    0.727037
r    0.493027
dtype: float64
n    0.317909
g    0.728615
j    0.322262
u    0.727037
r    0.493027
dtype: float64

In [28]:
#添加 
s1 = pd.Series(np.random.rand(5))
s2 = pd.Series(np.random.rand(5), index = list('ngjur'))
print(s1)
print(s2)
s1[5] = 100
s2['a'] = 100
print(s1)
print(s2)

0    0.723775
1    0.516242
2    0.043496
3    0.509809
4    0.973224
dtype: float64
n    0.978620
g    0.214540
j    0.728402
u    0.133603
r    0.756389
dtype: float64
0      0.723775
1      0.516242
2      0.043496
3      0.509809
4      0.973224
5    100.000000
dtype: float64
n      0.978620
g      0.214540
j      0.728402
u      0.133603
r      0.756389
a    100.000000
dtype: float64

In [29]:
s3 = s1.append(s2)
print(s3)
print(s1)

0      0.723775
1      0.516242
2      0.043496
3      0.509809
4      0.973224
5    100.000000
n      0.978620
g      0.214540
j      0.728402
u      0.133603
r      0.756389
a    100.000000
dtype: float64
0      0.723775
1      0.516242
2      0.043496
3      0.509809
4      0.973224
5    100.000000
dtype: float64

In [30]:
#修改
s = pd.Series(np.random.rand(3),index= ['a','b','c'])
print(s)
s['a'] = 100
s[['b','c']] = 200
print(s)

a    0.018403
b    0.029796
c    0.985726
dtype: float64
a    100.0
b    200.0
c    200.0
dtype: float64

In [31]:
# Dataframe是一个表格型的数据结构，“带有标签的二维数组”。Dataframe带有index（行标签）和columns（列标签）
data = {'name':['Jack','Tom','Mary'],
        'age':[18,19,20],
       'gender':['m','m','w']}
frame = pd.DataFrame(data)
print(frame)
print(type(frame))
print(frame.index)
print(frame.columns)
print(frame.values)

   name  age gender
0  Jack   18      m
1   Tom   19      m
2  Mary   20      w
<class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=3, step=1)
Index(['name', 'age', 'gender'], dtype='object')
[['Jack' 18 'm']
 ['Tom' 19 'm']
 ['Mary' 20 'w']]

In [32]:
#创建
data1 = {'a':[1,2,3],
        'b':[3,4,5],
        'c':[5,6,7]}
data2 = {'one':np.random.rand(3),
        'two':np.random.rand(3)}  
print(data1)
print(data2)
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print(df2)

{'a': [1, 2, 3], 'b': [3, 4, 5], 'c': [5, 6, 7]}
{'one': array([0.71329306, 0.91709989, 0.05952177]), 'two': array([0.19381564, 0.06549215, 0.07531005])}
   a  b  c
0  1  3  5
1  2  4  6
2  3  5  7
        one       two
0  0.713293  0.193816
1  0.917100  0.065492
2  0.059522  0.075310

In [33]:
df1 = pd.DataFrame(data1, columns = ['b','c','a','d'])
print(df1)
df1 = pd.DataFrame(data1, columns = ['b','c'])
print(df1)

   b  c  a    d
0  3  5  1  NaN
1  4  6  2  NaN
2  5  7  3  NaN
   b  c
0  3  5
1  4  6
2  5  7

In [34]:
data1 = {'one':pd.Series(np.random.rand(2)),
        'two':pd.Series(np.random.rand(3))}  
data2 = {'one':pd.Series(np.random.rand(2), index = ['a','b']),
        'two':pd.Series(np.random.rand(3),index = ['a','b','c'])} 
print(data1)
print(data2)
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print(df2)
# Series可以长度不一样，生成的Dataframe会出现NaN值

{'one': 0    0.759781
1    0.887738
dtype: float64, 'two': 0    0.610951
1    0.223468
2    0.741042
dtype: float64}
{'one': a    0.012007
b    0.510721
dtype: float64, 'two': a    0.309985
b    0.410998
c    0.061101
dtype: float64}
        one       two
0  0.759781  0.610951
1  0.887738  0.223468
2       NaN  0.741042
        one       two
a  0.012007  0.309985
b  0.510721  0.410998
c       NaN  0.061101

In [35]:
ar = np.random.rand(9).reshape(3,3)
print(ar)
df1 = pd.DataFrame(ar)
df2 = pd.DataFrame(ar, index = ['a', 'b', 'c'], columns = ['one','two','three'])  # 可以尝试一下index或columns长度不等于已有数组的情况
print(df1)
print(df2)

[[0.41691101 0.53263438 0.65087262]
 [0.95488681 0.00233063 0.71829706]
 [0.08691796 0.88877838 0.30164111]]
          0         1         2
0  0.416911  0.532634  0.650873
1  0.954887  0.002331  0.718297
2  0.086918  0.888778  0.301641
        one       two     three
a  0.416911  0.532634  0.650873
b  0.954887  0.002331  0.718297
c  0.086918  0.888778  0.301641

In [36]:
data = [{'one': 1, 'two': 2}, {'one': 5, 'two': 10, 'three': 20}]
print(data)
df1 = pd.DataFrame(data)
df2 = pd.DataFrame(data, index = ['a','b'])
df3 = pd.DataFrame(data, columns = ['one','two'])
print(df1)
print(df2)
print(df3)

[{'one': 1, 'two': 2}, {'one': 5, 'two': 10, 'three': 20}]
   one  two  three
0    1    2    NaN
1    5   10   20.0
   one  two  three
a    1    2    NaN
b    5   10   20.0
   one  two
0    1    2
1    5   10

In [39]:
df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                   index = ['one','two','three'],
                   columns = ['a','b','c','d'])
print(df)

               a          b          c          d
one    48.755019  76.305103  42.070015  45.552617
two    60.813045  48.510104  14.762536  57.569440
three  74.497831  67.420790  32.183496  93.543905

In [40]:
data1 = df['a']
data2 = df[['a','c']]
print(data1)
print(data2)

one      48.755019
two      60.813045
three    74.497831
Name: a, dtype: float64
               a          c
one    48.755019  42.070015
two    60.813045  14.762536
three  74.497831  32.183496

In [41]:
df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                   index = ['one','two','three'],
                   columns = ['a','b','c','d'])
print(df)

               a          b          c          d
one    42.332516   9.643634  91.351532  64.150122
two    95.350662  41.713858  85.415738  46.441441
three  77.658751  27.047969  67.234742  99.086294

In [42]:
data1 = df['a']
data2 = df[['b','c']] 
print(data1)
print(data2)

one      42.332516
two      95.350662
three    77.658751
Name: a, dtype: float64
               b          c
one     9.643634  91.351532
two    41.713858  85.415738
three  27.047969  67.234742

In [43]:
# df.loc[] - 按index选择行
df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
df2 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df1)
print(df2)

               a          b          c          d
one    46.233089  19.972711  56.632380   8.598128
two    37.916791  53.839507   0.852198   3.459880
three   9.901497  60.899161  69.969932  23.503369
four   83.668551  14.574201  94.733765  52.889015
           a          b          c          d
0  93.687000  84.356893  27.538846  21.526912
1  44.666674  77.486414  34.301581  13.753963
2  17.554944  81.095496  10.245846  54.616402
3  66.119130  37.904804  44.591468  19.546376

In [44]:
data1 = df1.loc['one']
data2 = df2.loc[1]
print(data1)
print(data2)

a    46.233089
b    19.972711
c    56.632380
d     8.598128
Name: one, dtype: float64
a    44.666674
b    77.486414
c    34.301581
d    13.753963
Name: 1, dtype: float64

In [46]:
data3 = df1.loc[['two','three','five']]
data4 = df2.loc[[3,2,1]]
print(data3)
print(data4)

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['five'], dtype='object'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

In [47]:
df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)

               a          b          c          d
one    80.351696  52.870475  56.944637  62.168335
two     7.462985  51.561692  90.641316  29.075974
three  60.334576  30.524826  85.267533   6.260130
four   80.670679  78.861266  62.613529  45.946556

In [48]:
print(df.iloc[0])#iloc和loc索引不同，不能索引超出数据行数的整数位置
print(df.iloc[-1])

a    80.351696
b    52.870475
c    56.944637
d    62.168335
Name: one, dtype: float64
a    80.670679
b    78.861266
c    62.613529
d    45.946556
Name: four, dtype: float64

In [49]:
print(df.iloc[[0,1]])
print(df.iloc[[3,2,1]])

             a          b          c          d
one  80.351696  52.870475  56.944637  62.168335
two   7.462985  51.561692  90.641316  29.075974
               a          b          c          d
four   80.670679  78.861266  62.613529  45.946556
three  60.334576  30.524826  85.267533   6.260130
two     7.462985  51.561692  90.641316  29.075974

In [50]:
print(df.iloc[1:3])
print(df.iloc[::2])

               a          b          c          d
two     7.462985  51.561692  90.641316  29.075974
three  60.334576  30.524826  85.267533   6.260130
               a          b          c          d
one    80.351696  52.870475  56.944637  62.168335
three  60.334576  30.524826  85.267533   6.260130

In [51]:
#布尔索引
df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)

               a          b          c          d
one    48.168631  89.546842  54.665851  83.428176
two    90.397151  88.268488  99.001739  22.764548
three  60.611205  16.261268   4.654311  20.607382
four   85.701140  28.425490  19.927807  47.201024

In [52]:
b1 = df < 20
print(b1)#全部索引

           a      b      c      d
one    False  False  False  False
two    False  False  False  False
three  False   True   True  False
four   False  False   True  False

In [53]:
b2 = df['a'] > 50 #单列索引
print(b2,type(b2))

one      False
two       True
three     True
four      True
Name: a, dtype: bool <class 'pandas.core.series.Series'>

In [54]:
b3 = df[['a','b']] > 50
print(b3,type(b3))#多列索引

           a      b
one    False   True
two     True   True
three   True  False
four    True  False <class 'pandas.core.frame.DataFrame'>

In [55]:
print(df['a'].loc[['one','three']])

one      48.168631
three    60.611205
Name: a, dtype: float64

In [58]:
df = pd.DataFrame(np.random.rand(16).reshape(8,2)*100,
                 columns= ['a','b'])
print(df.head(2))
print(df.tail())
print(df.T)

           a          b
0  90.440225  72.098395
1  56.978877  98.911901
           a          b
3  97.574297  86.418111
4  66.730627  23.740471
5  30.465206  13.793528
6  69.260127  28.692449
7  55.616597  87.383895
           0          1          2          3          4          5  \
a  90.440225  56.978877  53.017334  97.574297  66.730627  30.465206
b  72.098395  98.911901  18.217424  86.418111  23.740471  13.793528

           6          7
a  69.260127  55.616597
b  28.692449  87.383895

In [59]:
df['e'] = 10
df.loc[4] = 20
print(df)

           a          b   e
0  90.440225  72.098395  10
1  56.978877  98.911901  10
2  53.017334  18.217424  10
3  97.574297  86.418111  10
4  20.000000  20.000000  20
5  30.465206  13.793528  10
6  69.260127  28.692449  10
7  55.616597  87.383895  10

In [60]:
del df['a']
print(df)

           b   e
0  72.098395  10
1  98.911901  10
2  18.217424  10
3  86.418111  10
4  20.000000  20
5  13.793528  10
6  28.692449  10
7  87.383895  10

In [61]:
df1 = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
df2 = pd.DataFrame(np.random.randn(7, 3), columns=['A', 'B', 'C'])
print(df1 + df2)

          A         B         C   D
0  1.260681  2.277666  2.481277 NaN
1 -0.981500  0.783998 -2.883548 NaN
2  1.492703 -1.331821 -1.918890 NaN
3 -1.269267  4.340238 -4.515673 NaN
4 -3.309732 -1.758732  1.657277 NaN
5 -0.414044 -0.256437 -1.613856 NaN
6  0.389863  0.922068  0.775438 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

In [63]:
#排序
df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df1)
print(df1.sort_values(['a'],ascending = True))
print(df1.sort_values(['a'],ascending = False))

           a          b          c          d
0  56.430563   9.771511  24.178300  48.661027
1  30.785921  46.285663  37.480465  51.403836
2  42.942857  42.513035  93.348146  22.281243
3  82.037097  95.646113  51.270162  88.763736
           a          b          c          d
1  30.785921  46.285663  37.480465  51.403836
2  42.942857  42.513035  93.348146  22.281243
0  56.430563   9.771511  24.178300  48.661027
3  82.037097  95.646113  51.270162  88.763736
           a          b          c          d
3  82.037097  95.646113  51.270162  88.763736
0  56.430563   9.771511  24.178300  48.661027
2  42.942857  42.513035  93.348146  22.281243
1  30.785921  46.285663  37.480465  51.403836

In [66]:
print(df1.sort_values(['a','c']))
#print(df1.sort_values(['a','c']),ascending = False)

           a          b          c          d
1  30.785921  46.285663  37.480465  51.403836
2  42.942857  42.513035  93.348146  22.281243
0  56.430563   9.771511  24.178300  48.661027
3  82.037097  95.646113  51.270162  88.763736

In [67]:
df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index = [5,4,3,2],
                   columns = ['a','b','c','d'])
df2 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index = ['h','s','x','g'],
                   columns = ['a','b','c','d'])
print(df1)
print(df1.sort_index())

           a          b          c          d
5  12.326266  49.497022  69.244361  79.787263
4   9.546820  10.790361  45.469368  48.548560
3  56.275880  36.206375  76.069170  34.124670
2  17.216642  43.407745  93.122283  77.897640
           a          b          c          d
2  17.216642  43.407745  93.122283  77.897640
3  56.275880  36.206375  76.069170  34.124670
4   9.546820  10.790361  45.469368  48.548560
5  12.326266  49.497022  69.244361  79.787263

In [68]:
print(df2)
print(df2.sort_index())

           a          b          c          d
h   6.100806  91.523657  62.816646  43.025833
s  25.585600  90.329213  78.828098  15.223455
x  18.160621  26.519965  27.231247  52.691443
g   5.436146  48.405116  27.156780  79.520519
           a          b          c          d
g   5.436146  48.405116  27.156780  79.520519
h   6.100806  91.523657  62.816646  43.025833
s  25.585600  90.329213  78.828098  15.223455
x  18.160621  26.519965  27.231247  52.691443

In [69]:
import datetime

In [70]:
today = datetime.date.today()
print(today,type(today))

2022-02-17 <class 'datetime.date'>

In [71]:
t = datetime.date(2016,6,1)
print(t)

2016-06-01

In [74]:
now = datetime.datetime.now()
print(now)

2022-02-17 14:37:25.639459

In [75]:
t1 = datetime.datetime(2016,6,1)
t2 = datetime.datetime(2014,1,1,12,44,33)
print(t1,t2)
# (年，月，日，时，分，秒)，至少输入年月日

2016-06-01 00:00:00 2014-01-01 12:44:33

In [76]:
# datetime.timedelta：时间差
today = datetime.datetime.today()
yestoday = today - datetime.timedelta(1)
print(today)
print(yestoday)

2022-02-17 14:43:01.610336
2022-02-16 14:43:01.610336

In [77]:
print(today - datetime.timedelta(7))

2022-02-10 14:43:01.610336

In [78]:
# parser.parse：日期字符串转换
from dateutil.parser import parse

In [79]:
date = '12-21-2022'
t = parse(date)
print(t)

2022-12-21 00:00:00

In [80]:
print(parse('2000-1-1'),'\n',
     parse('5/1/2014'),'\n',
     parse('5/1/2014', dayfirst = True),'\n',  # 国际通用格式中，日在月之前，可以通过dayfirst来设置
     parse('22/1/2014'),'\n',
     parse('Jan 31, 1997 10:45 PM'))

2000-01-01 00:00:00
 2014-05-01 00:00:00
 2014-01-05 00:00:00
 2014-01-22 00:00:00
 1997-01-31 22:45:00

In [81]:
import numpy as np 
import pandas as pd

In [86]:
date1 = datetime.datetime(2020,12,3,12,45,30)
date2 = '2021-12-21'
t1 = pd.Timestamp(date1)#生成一个时间戳
t2 = pd.Timestamp(date2)
print(t1,type(t1))
print(t2)
print(pd.Timestamp('2017-12-21 15:00:22'))

2020-12-03 12:45:30 <class 'pandas._libs.tslibs.timestamps.Timestamp'>
2021-12-21 00:00:00
2017-12-21 15:00:22

In [88]:
# pd.to_datetime
from datetime import datetime

In [89]:
date1 = datetime(2016,12,1,12,45,30)
date2 = '2017-12-21'
t1 = pd.to_datetime(date1)#如果是单个时间数据，转换成pandas的时刻数据，数据类型为Timestamp

t2 = pd.to_datetime(date2)
print(t1,type(t1))
print(t2,type(t2))

2016-12-01 12:45:30 <class 'pandas._libs.tslibs.timestamps.Timestamp'>
2017-12-21 00:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [90]:
lst_date = [ '2017-12-21', '2017-12-22', '2017-12-23']
t3 = pd.to_datetime(lst_date)
print(t3)# 多个时间数据，将会转换为pandas的DatetimeIndex

DatetimeIndex(['2017-12-21', '2017-12-22', '2017-12-23'], dtype='datetime64[ns]', freq=None)

In [91]:
# pd.to_datetime → 多个时间数据转换时间戳索引
date3 = ['2017-2-1','2017-2-2','2017-2-3','hello world!','2017-2-5','2017-2-6']
t3 = pd.to_datetime(date3,errors='ignore')
print(t3)

Index(['2017-2-1', '2017-2-2', '2017-2-3', 'hello world!', '2017-2-5',
       '2017-2-6'],
      dtype='object')

In [92]:
t4 = pd.to_datetime(date3, errors = 'coerce')
print(t4,type(t4))

DatetimeIndex(['2017-02-01', '2017-02-02', '2017-02-03', 'NaT', '2017-02-05',
               '2017-02-06'],
              dtype='datetime64[ns]', freq=None) <class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [95]:
#时间戳索引：DatetimeIndex
# pd.DatetimeIndex()与TimeSeries时间序列
rg = pd.DatetimeIndex(['12/1/2017','12/2/2017','12/3/2017','12/4/2017','12/5/2017'])
print(rg)
print(rg[0],type(rg[0]))

DatetimeIndex(['2017-12-01', '2017-12-02', '2017-12-03', '2017-12-04',
               '2017-12-05'],
              dtype='datetime64[ns]', freq=None)
2017-12-01 00:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [98]:
st = pd.Series(np.random.rand(len(rg)), index = rg)
print(st,type(st))
print(st.index)

2017-12-01    0.581209
2017-12-02    0.427034
2017-12-03    0.604590
2017-12-04    0.245112
2017-12-05    0.888530
dtype: float64 <class 'pandas.core.series.Series'>
DatetimeIndex(['2017-12-01', '2017-12-02', '2017-12-03', '2017-12-04',
               '2017-12-05'],
              dtype='datetime64[ns]', freq=None)

In [99]:
# pd.date_range()-日期范围：生成日期范围
rng1 = pd.date_range('1/1/2017','1/10/2017', normalize=True)
rng2 = pd.date_range(start = '1/1/2017', periods = 10)
rng3 = pd.date_range(end = '1/30/2017 15:00:00', periods = 10)  # 增加了时、分、秒
print(rng1,type(rng1))
print(rng2)
print(rng3)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10'],
              dtype='datetime64[ns]', freq='D') <class 'pandas.core.indexes.datetimes.DatetimeIndex'>
DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2017-01-21 15:00:00', '2017-01-22 15:00:00',
               '2017-01-23 15:00:00', '2017-01-24 15:00:00',
               '2017-01-25 15:00:00', '2017-01-26 15:00:00',
               '2017-01-27 15:00:00', '2017-01-28 15:00:00',
               '2017-01-29 15:00:00', '2017-01-30 15:00:00'],
              dtype='datetime64[ns]', freq='D')

In [100]:
rng4 = pd.date_range(start = '1/1/2017 15:30', periods = 10, name = 'hello world!', normalize = True)
print(rng4)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10'],
              dtype='datetime64[ns]', name='hello world!', freq='D')

In [101]:
print(pd.date_range('20170101','20170104'))  # 20170101也可读取
print(pd.date_range('20170101','20170104',closed = 'right'))
print(pd.date_range('20170101','20170104',closed = 'left'))

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04'], dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04'], dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03'], dtype='datetime64[ns]', freq='D')

In [102]:
print(pd.bdate_range('20170101','20170107'))

DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05',
               '2017-01-06'],
              dtype='datetime64[ns]', freq='B')

In [105]:
print(list(pd.date_range(start = '1/1/2017', periods = 10)))

[Timestamp('2017-01-01 00:00:00', freq='D'), Timestamp('2017-01-02 00:00:00', freq='D'), Timestamp('2017-01-03 00:00:00', freq='D'), Timestamp('2017-01-04 00:00:00', freq='D'), Timestamp('2017-01-05 00:00:00', freq='D'), Timestamp('2017-01-06 00:00:00', freq='D'), Timestamp('2017-01-07 00:00:00', freq='D'), Timestamp('2017-01-08 00:00:00', freq='D'), Timestamp('2017-01-09 00:00:00', freq='D'), Timestamp('2017-01-10 00:00:00', freq='D')]

In [106]:
# pd.date_range()-日期范围：频率(1)
print(pd.date_range('2017/1/1','2017/1/4')) 
print(pd.date_range('2017/1/1','2017/1/4', freq = 'B'))

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04'], dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04'], dtype='datetime64[ns]', freq='B')

In [107]:
print(pd.date_range('2017','2018', freq = 'M'))

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31'],
              dtype='datetime64[ns]', freq='M')

In [108]:
# pd.date_range()-日期范围：复合频率
print(pd.date_range('2017/1/1','2017/2/1', freq = '7D'))  
print(pd.date_range('2017/1/1','2017/1/2', freq = '2h30min'))  
print(pd.date_range('2017','2018', freq = '2M'))

DatetimeIndex(['2017-01-01', '2017-01-08', '2017-01-15', '2017-01-22',
               '2017-01-29'],
              dtype='datetime64[ns]', freq='7D')
DatetimeIndex(['2017-01-01 00:00:00', '2017-01-01 02:30:00',
               '2017-01-01 05:00:00', '2017-01-01 07:30:00',
               '2017-01-01 10:00:00', '2017-01-01 12:30:00',
               '2017-01-01 15:00:00', '2017-01-01 17:30:00',
               '2017-01-01 20:00:00', '2017-01-01 22:30:00'],
              dtype='datetime64[ns]', freq='150T')
DatetimeIndex(['2017-01-31', '2017-03-31', '2017-05-31', '2017-07-31',
               '2017-09-30', '2017-11-30'],
              dtype='datetime64[ns]', freq='2M')

In [109]:
# asfreq：时期频率转换
ts = pd.Series(np.random.rand(4),
              index = pd.date_range('20170101','20170104'))
print(ts)
print(ts.asfreq('4H',method = 'ffill'))

2017-01-01    0.843648
2017-01-02    0.814928
2017-01-03    0.834710
2017-01-04    0.678080
Freq: D, dtype: float64
2017-01-01 00:00:00    0.843648
2017-01-01 04:00:00    0.843648
2017-01-01 08:00:00    0.843648
2017-01-01 12:00:00    0.843648
2017-01-01 16:00:00    0.843648
2017-01-01 20:00:00    0.843648
2017-01-02 00:00:00    0.814928
2017-01-02 04:00:00    0.814928
2017-01-02 08:00:00    0.814928
2017-01-02 12:00:00    0.814928
2017-01-02 16:00:00    0.814928
2017-01-02 20:00:00    0.814928
2017-01-03 00:00:00    0.834710
2017-01-03 04:00:00    0.834710
2017-01-03 08:00:00    0.834710
2017-01-03 12:00:00    0.834710
2017-01-03 16:00:00    0.834710
2017-01-03 20:00:00    0.834710
2017-01-04 00:00:00    0.678080
Freq: 4H, dtype: float64

In [110]:
# pd.date_range()-日期范围：超前/滞后数据
ts = pd.Series(np.random.rand(4),
              index = pd.date_range('20170101','20170104'))
print(ts)

print(ts.shift(2))
print(ts.shift(-2))

2017-01-01    0.622424
2017-01-02    0.267403
2017-01-03    0.875032
2017-01-04    0.962453
Freq: D, dtype: float64
2017-01-01         NaN
2017-01-02         NaN
2017-01-03    0.622424
2017-01-04    0.267403
Freq: D, dtype: float64
2017-01-01    0.875032
2017-01-02    0.962453
2017-01-03         NaN
2017-01-04         NaN
Freq: D, dtype: float64

In [111]:
# pd.Period()创建时期
p = pd.Period('2017', freq = 'M')
print(p, type(p))

2017-01 <class 'pandas._libs.tslibs.period.Period'>

In [112]:
print(p + 1)
print(p - 2)
print(pd.Period('2012', freq = 'A-DEC') - 1)

2017-02
2016-11
2011

In [113]:
# pd.period_range()创建时期范围
prng = pd.period_range('1/1/2011', '1/1/2012', freq='M')
print(prng,type(prng))
print(prng[0],type(prng[0]))

PeriodIndex(['2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
             '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
             '2012-01'],
            dtype='period[M]', freq='M') <class 'pandas.core.indexes.period.PeriodIndex'>
2011-01 <class 'pandas._libs.tslibs.period.Period'>

In [114]:
ts = pd.Series(np.random.rand(len(prng)),index=prng)
print(ts,type(ts))
print(ts.index)

2011-01    0.477444
2011-02    0.107659
2011-03    0.423068
2011-04    0.624941
2011-05    0.414337
2011-06    0.181950
2011-07    0.041194
2011-08    0.614095
2011-09    0.185289
2011-10    0.819682
2011-11    0.478538
2011-12    0.595036
2012-01    0.817157
Freq: M, dtype: float64 <class 'pandas.core.series.Series'>
PeriodIndex(['2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
             '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
             '2012-01'],
            dtype='period[M]', freq='M')

In [115]:
# asfreq：频率转换
p = pd.Period('2017','A-DEC')
print(p)
print(p.asfreq('M', how = 'start'))  # 也可写 how = 's'
print(p.asfreq('D', how = 'end'))

2017
2017-01
2017-12-31

In [116]:
prng = pd.period_range('2017','2018',freq = 'M')
ts1 = pd.Series(np.random.rand(len(prng)), index = prng)
ts2 = pd.Series(np.random.rand(len(prng)), index = prng.asfreq('D', how = 'start'))
print(ts1.head(),len(ts1))
print(ts2.head(),len(ts2))

2017-01    0.169092
2017-02    0.094273
2017-03    0.736711
2017-04    0.018749
2017-05    0.097360
Freq: M, dtype: float64 13
2017-01-01    0.645070
2017-02-01    0.175116
2017-03-01    0.698657
2017-04-01    0.334501
2017-05-01    0.684679
Freq: D, dtype: float64 13

In [117]:
# 时间戳与时期之间的转换：pd.to_period()、pd.to_timestamp()
rng = pd.date_range('2017/1/1', periods = 10, freq = 'M')
prng = pd.period_range('2017','2018', freq = 'M')
ts1 = pd.Series(np.random.rand(len(rng)), index = rng)
print(ts1.head())
print(ts1.to_period().head())

2017-01-31    0.963811
2017-02-28    0.371725
2017-03-31    0.008036
2017-04-30    0.901101
2017-05-31    0.667661
Freq: M, dtype: float64
2017-01    0.963811
2017-02    0.371725
2017-03    0.008036
2017-04    0.901101
2017-05    0.667661
Freq: M, dtype: float64

In [120]:
ts2 = pd.Series(np.random.rand(len(prng)), index = prng)
print(ts2.head())
print(ts2.to_timestamp().head())

2017-01    0.018970
2017-02    0.445393
2017-03    0.339532
2017-04    0.052535
2017-05    0.011228
Freq: M, dtype: float64
2017-01-01    0.018970
2017-02-01    0.445393
2017-03-01    0.339532
2017-04-01    0.052535
2017-05-01    0.011228
Freq: MS, dtype: float64

In [121]:
from datetime import datetime

In [122]:
rng = pd.date_range('2017/1','2017/3')
ts = pd.Series(np.random.rand(len(rng)), index = rng)
print(ts.head())

2017-01-01    0.553505
2017-01-02    0.416814
2017-01-03    0.668710
2017-01-04    0.216631
2017-01-05    0.250280
Freq: D, dtype: float64

In [123]:
print(ts[0])
print(ts[:2])

0.5535048993576752
2017-01-01    0.553505
2017-01-02    0.416814
Freq: D, dtype: float64

In [124]:
print(ts['2017/1/2'])
print(ts['20170103'])
print(ts['1/10/2017'])
print(ts[datetime(2017,1,20)])

0.4168135997899928
0.6687096839450393
0.2900021963430186
0.9984599754998973

In [125]:
rng = pd.date_range('2017/1','2017/3',freq = '12H')
ts = pd.Series(np.random.rand(len(rng)), index = rng)

print(ts['2017/1/5':'2017/1/10'])

2017-01-05 00:00:00    0.860993
2017-01-05 12:00:00    0.617359
2017-01-06 00:00:00    0.076217
2017-01-06 12:00:00    0.159884
2017-01-07 00:00:00    0.593520
2017-01-07 12:00:00    0.503716
2017-01-08 00:00:00    0.373615
2017-01-08 12:00:00    0.988042
2017-01-09 00:00:00    0.961820
2017-01-09 12:00:00    0.695163
2017-01-10 00:00:00    0.960668
2017-01-10 12:00:00    0.081223
Freq: 12H, dtype: float64

In [126]:
# 重复索引的时间序列
dates = pd.DatetimeIndex(['1/1/2015','1/2/2015','1/3/2015','1/4/2015','1/1/2015','1/2/2015'])
ts = pd.Series(np.random.rand(6), index = dates)
print(ts)
print(ts.is_unique,ts.index.is_unique)

2015-01-01    0.543234
2015-01-02    0.179490
2015-01-03    0.739243
2015-01-04    0.803462
2015-01-01    0.077697
2015-01-02    0.107382
dtype: float64
True False

In [127]:
# 重采样：.resample()
rng = pd.date_range('20170101',periods=12)
ts = pd.Series(np.arange(12),index=rng)
print(ts)

2017-01-01     0
2017-01-02     1
2017-01-03     2
2017-01-04     3
2017-01-05     4
2017-01-06     5
2017-01-07     6
2017-01-08     7
2017-01-09     8
2017-01-10     9
2017-01-11    10
2017-01-12    11
Freq: D, dtype: int64

In [128]:
ts_re = ts.resample('5D')
ts_re2 = ts.resample('5D').sum()
print(ts_re)
print(ts_re2)

DatetimeIndexResampler [freq=<5 * Days>, axis=0, closed=left, label=left, convention=start, origin=start_day]
2017-01-01    10
2017-01-06    35
2017-01-11    21
Freq: 5D, dtype: int64

In [129]:
print(ts.resample('5D').mean(),'→ 求平均值\n')
print(ts.resample('5D').max(),'→ 求最大值\n')
print(ts.resample('5D').min(),'→ 求最小值\n')
print(ts.resample('5D').median(),'→ 求中值\n')
print(ts.resample('5D').first(),'→ 返回第一个值\n')
print(ts.resample('5D').last(),'→ 返回最后一个值\n')
print(ts.resample('5D').ohlc(),'→ OHLC重采样\n')

2017-01-01     2.0
2017-01-06     7.0
2017-01-11    10.5
Freq: 5D, dtype: float64 → 求平均值

2017-01-01     4
2017-01-06     9
2017-01-11    11
Freq: 5D, dtype: int64 → 求最大值

2017-01-01     0
2017-01-06     5
2017-01-11    10
Freq: 5D, dtype: int64 → 求最小值

2017-01-01     2.0
2017-01-06     7.0
2017-01-11    10.5
Freq: 5D, dtype: float64 → 求中值

2017-01-01     0
2017-01-06     5
2017-01-11    10
Freq: 5D, dtype: int64 → 返回第一个值

2017-01-01     4
2017-01-06     9
2017-01-11    11
Freq: 5D, dtype: int64 → 返回最后一个值

            open  high  low  close
2017-01-01     0     4    0      4
2017-01-06     5     9    5      9
2017-01-11    10    11   10     11 → OHLC重采样

In [130]:
# 降采样
print(ts.resample('5D').sum(),'→ 默认\n')
print(ts.resample('5D', closed = 'left').sum(),'→ left\n')
print(ts.resample('5D', closed = 'right').sum(),'→ right\n')

2017-01-01    10
2017-01-06    35
2017-01-11    21
Freq: 5D, dtype: int64 → 默认

2017-01-01    10
2017-01-06    35
2017-01-11    21
Freq: 5D, dtype: int64 → left

2016-12-27     0
2017-01-01    15
2017-01-06    40
2017-01-11    11
Freq: 5D, dtype: int64 → right

In [131]:
# 升采样及插值
print(ts.resample('15T').asfreq())
print(ts.resample('15T').ffill())
print(ts.resample('15T').bfill())

2017-01-01 00:00:00     0.0
2017-01-01 00:15:00     NaN
2017-01-01 00:30:00     NaN
2017-01-01 00:45:00     NaN
2017-01-01 01:00:00     NaN
                       ...
2017-01-11 23:00:00     NaN
2017-01-11 23:15:00     NaN
2017-01-11 23:30:00     NaN
2017-01-11 23:45:00     NaN
2017-01-12 00:00:00    11.0
Freq: 15T, Length: 1057, dtype: float64
2017-01-01 00:00:00     0
2017-01-01 00:15:00     0
2017-01-01 00:30:00     0
2017-01-01 00:45:00     0
2017-01-01 01:00:00     0
                       ..
2017-01-11 23:00:00    10
2017-01-11 23:15:00    10
2017-01-11 23:30:00    10
2017-01-11 23:45:00    10
2017-01-12 00:00:00    11
Freq: 15T, Length: 1057, dtype: int64
2017-01-01 00:00:00     0
2017-01-01 00:15:00     1
2017-01-01 00:30:00     1
2017-01-01 00:45:00     1
2017-01-01 01:00:00     1
                       ..
2017-01-11 23:00:00    11
2017-01-11 23:15:00    11
2017-01-11 23:30:00    11
2017-01-11 23:45:00    11
2017-01-12 00:00:00    11
Freq: 15T, Length: 1057, dtype: int64

In [132]:
print(ts.resample('3M').sum())  # 降采样
print(ts.resample('15D').ffill())  # 升采样

2017-01-31    66
Freq: 3M, dtype: int64
2017-01-01    0
Freq: 15D, dtype: int64

数值计算和统计基础

In [133]:
df = pd.DataFrame({'key1':[4,5,3,np.nan,2],
                 'key2':[1,2,np.nan,4,5],
                 'key3':[1,2,3,'j','k']},
                 index = ['a','b','c','d','e'])
print(df['key1'].dtype,df['key2'].dtype,df['key3'].dtype)

float64 float64 object

In [134]:
m1 = df.mean()
print(m1,type(m1))#只统计数字列
m2 = df.mean(axis=1)#0,hang 1,lie
print(m2)

key1    3.5
key2    3.0
dtype: float64 <class 'pandas.core.series.Series'>
a    2.5
b    3.5
c    3.0
d    4.0
e    3.5
dtype: float64

In [135]:
m3 = df.mean(skipna=False)#是否忽略NaN，默认True
print(m3)

key1   NaN
key2   NaN
dtype: float64

In [136]:
print(df.count(),'→ count统计非Na值的数量\n')
print(df.min(),'→ min统计最小值\n',df['key2'].max(),'→ max统计最大值\n')
print(df.quantile(q=0.75),'→ quantile统计分位数，参数q确定位置\n')
print(df.sum(),'→ sum求和\n')
print(df.mean(),'→ mean求平均值\n')
print(df.median(),'→ median求算数中位数，50%分位数\n')
print(df.std(),'\n',df.var(),'→ std,var分别求标准差，方差\n')
print(df.skew(),'→ skew样本的偏度\n')
print(df.kurt(),'→ kurt样本的峰度\n')

key1    4
key2    4
key3    5
dtype: int64 → count统计非Na值的数量

key1    2.0
key2    1.0
dtype: float64 → min统计最小值
 5.0 → max统计最大值

key1    4.25
key2    4.25
Name: 0.75, dtype: float64 → quantile统计分位数，参数q确定位置

key1    14.0
key2    12.0
dtype: float64 → sum求和

key1    3.5
key2    3.0
dtype: float64 → mean求平均值

key1    3.5
key2    3.0
dtype: float64 → median求算数中位数，50%分位数

key1    1.290994
key2    1.825742
dtype: float64
 key1    1.666667
key2    3.333333
dtype: float64 → std,var分别求标准差，方差

key1    0.0
key2    0.0
dtype: float64 → skew样本的偏度

key1   -1.2
key2   -3.3
dtype: float64 → kurt样本的峰度

In [137]:
df['key1_s'] = df['key1'].cumsum()
print(df,'→ cumsum样本的累计和\n')

   key1  key2 key3  key1_s
a   4.0   1.0    1     4.0
b   5.0   2.0    2     9.0
c   3.0   NaN    3    12.0
d   NaN   4.0    j     NaN
e   2.0   5.0    k    14.0 → cumsum样本的累计和

In [138]:
# 唯一值：.unique()
s = pd.Series(list('asdvasdcfgg'))
sq = s.unique()
print(s)

0     a
1     s
2     d
3     v
4     a
5     s
6     d
7     c
8     f
9     g
10    g
dtype: object

In [140]:
# 值计数：.value_counts()
sc = s.value_counts(sort = False)  
print(sc)
sc = pd.value_counts(s, sort = False)
print(sc)

d    2
s    2
c    1
g    2
f    1
a    2
v    1
dtype: int64
d    2
s    2
c    1
g    2
f    1
a    2
v    1
dtype: int64

In [141]:
# 成员资格：.isin()
s = pd.Series(np.arange(10,15))
df = pd.DataFrame({'key1':list('asdcbvasd'),
                  'key2':np.arange(4,13)})
print(s.isin([5,14]))
print(df.isin(['a','bc','10',8]))

0    False
1    False
2    False
3    False
4     True
dtype: bool
    key1   key2
0   True  False
1  False  False
2  False  False
3  False  False
4  False   True
5  False  False
6   True  False
7  False  False
8  False  False

In [142]:
# 通过str访问，且自动排除丢失/ NA值

s = pd.Series(['A','b','C','bbhello','123',np.nan,'hj'])
df = pd.DataFrame({'key1':list('abcdef'),
                  'key2':['hee','fv','w','hija','123',np.nan]})
print(s)
print(df)

print(s.str.count('b'))
print(df['key2'].str.upper())

0          A
1          b
2          C
3    bbhello
4        123
5        NaN
6         hj
dtype: object
  key1  key2
0    a   hee
1    b    fv
2    c     w
3    d  hija
4    e   123
5    f   NaN
-----
0    0.0
1    1.0
2    0.0
3    2.0
4    0.0
5    NaN
6    0.0
dtype: float64
0     HEE
1      FV
2       W
3    HIJA
4     123
5     NaN
Name: key2, dtype: object

In [143]:
# 字符串常用方法（1） - lower，upper，len，startswith，endswith
s = pd.Series(['A','b','bbhello','123',np.nan])

print(s.str.lower(),'→ lower小写\n')
print(s.str.upper(),'→ upper大写\n')
print(s.str.len(),'→ len字符长度\n')
print(s.str.startswith('b'),'→ 判断起始是否为a\n')
print(s.str.endswith('3'),'→ 判断结束是否为3\n')

0          a
1          b
2    bbhello
3        123
4        NaN
dtype: object → lower小写

0          A
1          B
2    BBHELLO
3        123
4        NaN
dtype: object → upper大写

0    1.0
1    1.0
2    7.0
3    3.0
4    NaN
dtype: float64 → len字符长度

0    False
1     True
2     True
3    False
4      NaN
dtype: object → 判断起始是否为a

0    False
1    False
2    False
3     True
4      NaN
dtype: object → 判断结束是否为3

In [144]:
# 字符串常用方法（2） - strip
print(s.str.strip())  # 去除字符串中的空格
print(s.str.lstrip())  # 去除字符串中的左空格
print(s.str.rstrip())  # 去除字符串中的右空格

0          A
1          b
2    bbhello
3        123
4        NaN
dtype: object
0          A
1          b
2    bbhello
3        123
4        NaN
dtype: object
0          A
1          b
2    bbhello
3        123
4        NaN
dtype: object

In [ ]:
# 字符串常用方法（3） - replace
df.columns = df.columns.str.replace('-','hehe',n=1)

In [145]:
# 字符串常用方法（4） - split、rsplit 正向、反向输出字符串
s = pd.Series(['a,b,c','1,2,3',['a,,,c'],np.nan])
print(s.str.split(','))

0    [a, b, c]
1    [1, 2, 3]
2          NaN
3          NaN
dtype: object

In [146]:
# 可以使用get或[]符号访问拆分列表中的元素
print(s.str.split(',').str[0])
print(s.str.split(',').str.get(1))

0      a
1      1
2    NaN
3    NaN
dtype: object
0      b
1      2
2    NaN
3    NaN
dtype: object

In [147]:
print(s.str.split(',', expand=True, n = 1))# n参数限制分割数

     0    1
0    a  b,c
1    1  2,3
2  NaN  NaN
3  NaN  NaN

In [148]:
# merge合并 → 类似excel的vlookup
print(pd.merge(df1, df2, on='key'))

print(pd.merge(df3, df4, on=['key1','key2']))
# 多个链接键

KeyError: 'key'

In [ ]:
# 参数how → 合并方式
print(pd.merge(df3, df4,on=['key1','key2'], how = 'inner'))
# inner：默认，取交集
# outer：取并集，数据缺失范围NaN
# left：按照df3为参考合并，数据缺失范围NaN
# right：按照df4为参考合并，数据缺失范围NaN

In [ ]:
# 参数 left_on, right_on, left_index, right_index → 当键不为一个列时，可以单独设置左键与右键
df1 = pd.DataFrame({'lkey':list('bbacaab'),
                   'data1':range(7)})
df2 = pd.DataFrame({'rkey':list('abd'),
                   'date2':range(3)})
print(pd.merge(df1, df2, left_on='lkey', right_on='rkey'))

In [ ]:
# 参数 sort：按照字典顺序通过 连接键 对结果DataFrame进行排序。默认为False，设置为False会大幅提高性能
print(x2.sort_values('data1'))

In [149]:
# pd.join() → 直接通过索引链接

left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                    index=['K0', 'K1', 'K2'])
right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                     index=['K0', 'K2', 'K3'])
print(left)
print(right)
print(left.join(right))
print(left.join(right, how='outer'))

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3
     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2
      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

In [150]:
# 连接：concat
s1 = pd.Series([1,2,3])
s2 = pd.Series([2,3,4])
print(pd.concat([s1,s2]))

0    1
1    2
2    3
0    2
1    3
2    4
dtype: int64

In [151]:
print(pd.concat([s3,s4]).sort_index())

NameError: name 's4' is not defined

In [152]:
# 连接方式：join，join_axes
s5 = pd.Series([1,2,3],index = ['a','b','c'])
s6 = pd.Series([2,3,4],index = ['b','c','d'])
print(pd.concat([s5,s6], axis= 1))
print(pd.concat([s5,s6], axis= 1, join='inner'))

     0    1
a  1.0  NaN
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0
   0  1
b  2  2
c  3  3

In [153]:
# 覆盖列名

sre = pd.concat([s5,s6], keys = ['one','two'])
print(sre,type(sre))
print(sre.index)

one  a    1
     b    2
     c    3
two  b    2
     c    3
     d    4
dtype: int64 <class 'pandas.core.series.Series'>
MultiIndex([('one', 'a'),
            ('one', 'b'),
            ('one', 'c'),
            ('two', 'b'),
            ('two', 'c'),
            ('two', 'd')],
           )

In [154]:
# 修补 pd.combine_first()
df1 = pd.DataFrame([[np.nan, 3., 5.], [-4.6, np.nan, np.nan],[np.nan, 7., np.nan]])
df2 = pd.DataFrame([[-42.6, np.nan, -8.2], [-5., 1.6, 4]],index=[1, 2])
print(df1)
print(df2)
print(df1.combine_first(df2))

     0    1    2
0  NaN  3.0  5.0
1 -4.6  NaN  NaN
2  NaN  7.0  NaN
      0    1    2
1 -42.6  NaN -8.2
2  -5.0  1.6  4.0
     0    1    2
0  NaN  3.0  5.0
1 -4.6  NaN -8.2
2 -5.0  7.0  4.0

In [155]:
# 去重 .duplicated
s = pd.Series([1,1,1,1,2,2,2,3,4,5,5,5,5])
print(s.duplicated())
print(s[s.duplicated() == False])

0     False
1      True
2      True
3      True
4     False
5      True
6      True
7     False
8     False
9     False
10     True
11     True
12     True
dtype: bool
0    1
4    2
7    3
8    4
9    5
dtype: int64

In [156]:
# 替换 .replace
s = pd.Series(list('ascaazsd'))
print(s.replace('a', np.nan))

0    NaN
1      s
2      c
3    NaN
4    NaN
5      z
6      s
7      d
dtype: object

In [157]:

df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
print(df.groupby('A'), type(df.groupby('A')))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fe012f7be20> <class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [158]:
a = df.groupby('A').mean()
b = df.groupby(['A','B']).mean()
c = df.groupby(['A'])['D'].mean()  # 以A分组，算D的平均值
print(a,type(a),'\n',a.columns)
print(b,type(b),'\n',b.columns)
print(c,type(c))

            C         D
A
bar  0.442272 -0.065961
foo  0.127770 -0.122155 <class 'pandas.core.frame.DataFrame'>
 Index(['C', 'D'], dtype='object')
                  C         D
A   B
bar one   -0.403588 -0.535547
    three  0.823955  0.128428
    two    0.906447  0.209235
foo one   -0.358053 -0.115616
    three  0.156880 -0.095305
    two    0.599037 -0.142119 <class 'pandas.core.frame.DataFrame'>
 Index(['C', 'D'], dtype='object')
A
bar   -0.065961
foo   -0.122155
Name: D, dtype: float64 <class 'pandas.core.series.Series'>

In [ ]:
# 分组 - 可迭代对象